<!-- Header All Shopping Selection Start -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 full-col pr-0">
    <div class="main-selection">
        <ul class="selection-list text-right">
            <!-- Searcch Box Start -->
            {{!-- <li class="hidden-control"><i class="pe-7s-search"></i>
                <ul class="search-form ht-dropdown">
                    <li>
                        <form action="#">
                            <input type="text" class="search" name="search" placeholder="Search for products...">
                        </form>
                        <i class="pe-7s-search"></i>
                    </li>
                </ul>
            </li> --}}
            <!-- Search Box End -->

            <!-- Cart and wishlist icon -->
            {{>client/cart-header/cart}}
            <!--End Cart and wishlist icon -->

            <!-- Dropdown Currency Selection Start -->
            <li><i class="pe-7s-config"></i>
                <ul class="ht-dropdown currrency">
                    <li>
                        <h3>currency</h3>
                        <ul class="mb-15">
                            <li>€ euro</li>
                            <li>£ pound sterling</li>
                            <li>$ us dollar</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Ngôn Ngữ</h3>
                        <ul class="mb-15">
                            <li><img src="img/menu/2.png" alt="menu-icon">english</li>
                            <li><img src="img/menu/1.png" alt="menu-icon">french</li>
                        </ul>
                    </li>
                    <li>
                        <h3>my account</h3>
                        <ul>
                            <li><a href="register.html">Đăng ký</a></li>
                            <li><a href="account.html">Tài khoản của tôi</a></li>
                            <li><a href="log-in.html">Đăng nhập</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- Dropdown Currency Selection End -->
        </ul>
    </div>
</div>
<!-- Header All Shopping Selection End -->