<!-- Primary-Menu Start -->
<div class="col-lg-7 col-md-7 col-sm-12  hidden-sm hidden-xs">
    <div class="primary-menu">
        <nav>
            <ul class="primary-menu-list text-center">
                <li><a href="/about-us">Về Momo</a></li>
                {{!-- <li><a href="index.html">home<i class="pe-7s-angle-down"></i></a>
                    <!-- Home Version Dropdown Start -->
                    <ul class="ht-dropdown">
                        <li><a href="index.html">Home Version 1</a></li>
                        <li><a href="home-2.html">Home Version 2</a></li>
                        <li><a href="home-3.html">Home Version 3</a></li>
                        <li><a href="home-4.html">Home Version 4</a></li>
                    </ul>
                    <!-- Home Version Dropdown End -->
                </li> --}}

                <li class="static-menu"><a href="#"><strong style="color: #d7ac87">Sản phẩm</strong><i class="pe-7s-angle-down"></i></a>
                    <!-- Mega Menu Start -->
                    <ul class="ht-dropdown mega-menu-2">

                        {{#each treeMenu}}
                        <li>
                            <h3>{{this.name}}</h3>
                            <ul>
                                {{#each this.children}}
                                <li><a href="{{createURLCategory this.urlSeo}}">{{this.name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                    <!-- Mega Menu End -->
                </li>

                 <li><a href="/purchase-policy">Chính sách</a></li>
                <li><a href="/blogs">Tin tức</a></li>
                <li><a href="/contact">Liên hệ</a></li>

            </ul>
        </nav>
    </div>
</div>
<!-- Primary-Menu End -->