<!-- Primary-Menu Start -->
<div class="col-lg-7 col-md-7 col-sm-12  hidden-sm hidden-xs">
    <div class="primary-menu">
        <nav>
            <ul class="primary-menu-list text-center">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact">Liên hệ</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Primary-Menu End -->