<div class="wrapper">
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one"></div>
                <div class="object object_two"></div>
                <div class="object object_three"></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Start -->
    <header>
        <div class="container-fluid header-top-area header-sticky">
            <div class="row">
                <!-- Logo Start -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5 full-col pl-0">
                    <div class="logo">
                        <a href="index.html"><img src="img/logo/logo.png" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Logo End -->
                <div class="col-xs-12 visible-xs visible-control">
                    <ul class="search-form mobile-form">
                        <li>
                            <form action="#">
                                <input type="text" class="search" name="search" placeholder="Search for products...">
                            </form>
                            <i class="pe-7s-search"></i>
                        </li>
                    </ul>
                </div>
                        <!-- Primary-Menu Start -->
                <div class="col-lg-7 col-md-7 col-sm-12  hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <nav>
                            <ul class="primary-menu-list text-center">
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/blog">Blogs</a></li>
                                <li><a href="/about-us">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Primary-Menu End -->
                <!-- Header All Shopping Selection Start -->
                {{>client/header/header-all}}
                <!-- Header All Shopping Selection End -->
                <!-- Mobile Menu  Start -->
                <div class="mobile-menu visible-sm visible-xs">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="index.html">Home Version 1</a></li>
                                    <li><a href="home-2.html">Home Version 2</a></li>
                                    <li><a href="home-3.html">Home Version 3</a></li>
                                    <li><a href="home-4.html">Home Version 4</a></li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">Furniture</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">sofas & loveseats</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">convallis neceros</a></li>
                                            <li><a href="categorie-page.html">Outdoor Rugs</a></li>
                                            <li><a href="categorie-page.html">Mice and Trackballs</a></li>
                                            <li><a href="categorie-page.html">Cameras</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">chairs & recliners</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">dignissim porta</a></li>
                                            <li><a href="categorie-page.html">necvelit dignissim</a></li>
                                            <li><a href="categorie-page.html">venenatis lacinia</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">decor</a>
                                <!-- Mobile Menu Dropdown Start -->
                                <ul>
                                    <li><a href="#">art gallery</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">congue nonorna</a></li>
                                            <li><a href="categorie-page.html">Etiam sapien</a></li>
                                            <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                                            <li><a href="categorie-page.html">sapien enim</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">lighting</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">commodo nunc</a></li>
                                            <li><a href="categorie-page.html">elementum dolor</a></li>
                                            <li><a href="categorie-page.html">ligula velvenen</a></li>
                                            <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">rugs</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">blandit vehicula</a></li>
                                            <li><a href="categorie-page.html">Praesent molestie</a></li>
                                            <li><a href="categorie-page.html">sagittis ipsum</a></li>
                                            <li><a href="categorie-page.html">venenatis innunc</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                    <li><a href="#">throw pillows</a>
                                        <!-- Mobile Menu Sub-Dropdown Start -->
                                        <ul>
                                            <li><a href="categorie-page.html">Fire Pits</a></li>
                                            <li><a href="categorie-page.html">Garden Accents</a></li>
                                            <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                                            <li><a href="categorie-page.html">Patio Heaters</a></li>
                                        </ul>
                                        <!-- Mobile Menu Sub-Dropdown End -->
                                    </li>
                                </ul>
                                <!-- Mobile Menu Dropdown End -->
                            </li>
                            <li><a href="#">pages</a>
                                <!-- Home Version Dropdown Start -->
                                <ul>
                                    <li><a href="categorie-page.html">shop</a></li>
                                    <li><a href="product-page.html">Product Details</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wish-list.html">wish list</a></li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li><a href="about-us.html">about us</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu  End -->
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Page Breadcrumb Start -->
    <div class="main-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="#">home</a></li>
                            <li><a href="#">blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Blog Area Start -->
    <div class="blog-area off-white-bg mtb-100 pb-50">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-xs-12">
                    <div class="section-title text-center ptb-50">
                        <h3 class="section-info">ALL LATEST BLOGS</h3>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>
            <!-- Row End -->
            <div class="row">

                {{#each posts}}
                <div class="col-md-4 col-sm-6">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                          <div class="blog-img">
                                <a href="blog-details.html"><img src="{{this.thumb_image}}" alt="blog-image"></a>
                            </div>
                         <div class="blog-content">
                                <div class="blog-content-upper">
                                    <h6 class="blog-title"><a href="blog-details.html">{{this.title}}</a></h6>
                                    <p>{{getDescriptionArtiles this.short_desc}}</p>
                                </div>
                                <div class="blog-content-lower">
                                    <a >MOMO</a>
                                    <span class="f-right">{{getDateArtiles this.created_date}}</span>
                                </div>
                            </div>
                    </div>
                    <!-- Single Blog End -->
                </div>
                {{/each}}
 

            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="blog-pagination ptb-20">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <!-- End of .blog-pagination -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Blog Area End -->
    <!-- Footer Start -->
    <footer>
        <!-- Footer Middle Start -->
        {{>client/footer/footer-middle}}
        <!-- Footer Middle End -->

        <!-- Footer Bottom Start -->
        {{>client/footer/footer-bottom}}
        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer End -->