<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="container-footer ptb-30">
            <div class="row">
                <div class="col-sm-7">
                    <p class="text-left copyright-text">Copyright <a  href="/">©MOMO.STUDIO</a>
                        All Rights Reserved.</p>
                </div>
                <div class="col-sm-5">
                    <!-- Footer Social List Start -->
                    <div class="socila-footer">
                        <ul class="social-footer-list list-inline text-right">
                            <li><a target="_blank" href="{{general.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank"  href="{{general.twitter}}" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social List End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container Footer End -->
    </div>
    <!-- Container End -->
</div>
<!-- Footer Bottom End -->
 <!-- jquery 3.12.4 -->
    {{!-- <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- mobile menu js  -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- scroll-up js -->
    <script src="/js/jquery.scrollUp.js"></script>
    <!-- owl-carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="/js/wow.min.js"></script>
    <!-- price slider js -->
    <script src="/js/jquery-ui.min.js"></script>
    <!-- elevateZoom js -->
    <script src="/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <!-- nivo slider js -->
    <script src="/js/jquery.nivo.slider.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- plugins -->
    <script src="/js/plugins.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
    <!-- toast serivce -->
    <script src="/js/vendor/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
    <script src="/js/vendor/validate/jquery.validate.min.js"></script> --}}

    <script src="/js-dist/app1.js"></script>