<!-- Footer Middle Start -->
<div class="footer-middle">
    <div class="container">
        <div class="container-footer ptb-100">
            <div class="row">
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <div class="footer-logo">
                        <a href="#"><img class="img" src="img/logo/logo.png" alt="logo-img"></a>
                    </div>
                    <div class="footer-content">
                        <p>{{general.footer_desc}}</p>
                        <h5 class="contact-info mtb-10">thông tin liên hệ:</h5>
                        <ul class="footer-list first-content">
                            <li><i class="pe-7s-map-marker"></i>{{general.address}}</li>
                            <li><i class="pe-7s-mail"></i>{{general.email}}</li>
                            <li><i class="pe-7s-call"></i>{{general.phone_number}}</li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">information</h4>
                    <div class="footer-content">
                        <ul class="footer-list">
                            <li><a href="/about-us">about us</a></li>
                            <li><a href="#">delivery information</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">terms & conditions</a></li>
                            <li><a href="#">warranty</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">extras</h4>
                    <div class="footer-content">
                        <ul class="footer-list">
                            <li><a href="#">brands</a></li>
                            <li><a href="#">gift certificates</a></li>
                            <li><a href="#">Affiliate</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">contact us</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Start -->
                <!-- Single Footer Start -->
                <div class="single-footer col-md-3 col-sm-6">
                    <h4 class="footer-title">NEWSLETTER</h4>
                    <div class="footer-content subscribe-form">
                        <p class="mb-25">Subscribe to our newsletter and get 10% off your first purchase</p>
                        <div class="subscribe-box">
                            <div>
                                <input type="text" name="subscribe_email" id="subscribe_email"
                                    placeholder="Enter you email address here...">
                                <input id="submitFromFooter" type="submit" class="submit" value="subscribe">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Footer Start -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container Footer End -->
    </div>
    <!-- Container End -->
</div>
<!-- Footer Middle End -->