
<div class="popup_order popup_wrapper_add_to_card">
    <div class="test">
        <span class="popup_off">Đóng</span>
        <div class="subscribe_area text-center">
            <h5 class="text-success mb-20">Thêm vào giỏ hàng thành công</h5>
            <p class="mb-10">Sản phẩm của bạn đã được thêm vào giỏ hàng !</p>
            <div class="text-center d-flex">
                    <a  href="{{createURLCategory 'all'}}" class="mr-2"><button style="background: #b86847;" class="btn" type="button">TIẾP TỤC MUA HÀNG</button></a>
                    <a  href="/cart"><button style="background: #d7ac87;" class="btn" type="button">GiỎ HÀNG CỦA BẠN</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
