
<div class="popup_order popup_wrapper_add_to_card">
    <div class="test">
        <span class="popup_off">Đóng</span>
        <div class="subscribe_area text-center">
            <h4 class="text-success mb-20">Thêm vào giỏ hàng thành công</h4>
            <p class="mb-10">Sản phẩm của bạn đã được thêm vào giỏ hàng !</p>
            <div class="text-center d-flex">
                    <a href="{{createURLCategory 'all'}}" class="mr-2"><button class="btn btn-success" type="button">TIẾP TỤC MUA HÀNG</button></a>
                    <a href="/cart"><button class="btn btn-info" type="button">GiỎ HÀNG CỦA BẠN</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
