
<div class="popup_order popup_wrapper_order hidden-sm hidden-xs">
    <div class="test">
        <span class="popup_off">Đóng</span>
        <div class="subscribe_area text-center">
            <h4 class="text-success mb-20">Đặt Hàng Thành Công</h4>
            <p class="mb-10">Đơn hàng của bạn đã được gửi đến MoMo. Cám ơn bạn đã đặt hàng.</p>
            <p>HOTLINE LIÊN HỆ: <strong class="text-danger">0356.125.026</strong></p>
            <div class="subscribe-form-group">
                <div class="modalSubscribe">
                    <a href="/"><button type="button">TRỞ VỀ TRANG CHỦ</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
