<div class="modal modal-box fade" id="myModal" role="dialog">
    <!-- Modal Dialog Box Start -->
    <div class="modal-dialog max-width">
        <!-- Modal content Start -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal Body Start -->
            <div class="modal-body">
                <div class="quiick-view-details">
                    <!-- Product Thumbnail Start -->
                    <div class="main-product-thumbnail">
                        <div class="container">
                            <div class="row">
                                <!-- Main Thumbnail Image Start -->
                                <div class="col-md-5 col-sm-6">
                                    <!-- Thumbnail Large Image start -->
                                    <div id="modal-product-images" class="tab-content">
                                        {{!-- <div id="thumb1" class="tab-pane fade in active">
                                            <img src="img/new-products/1_1.jpg" alt="product-thumbnail" />
                                        </div>
                                        <div id="thumb2" class="tab-pane fade">
                                            <img src="img/new-products/1_2.jpg" alt="product-thumbnail" />
                                        </div>
                                        <div id="thumb3" class="tab-pane fade">
                                            <img src="img/new-products/2_1.jpg" alt="product-thumbnail" />
                                        </div>
                                        <div id="thumb4" class="tab-pane fade">
                                            <img src="img/new-products/2_2.jpg" alt="product-thumbnail" />
                                        </div>
                                        <div id="thumb5" class="tab-pane fade">
                                            <img src="img/new-products/3_1.jpg" alt="product-thumbnail" />
                                        </div>
                                        <div id="thumb6" class="tab-pane fade">
                                            <img src="img/new-products/3_2.jpg" alt="product-thumbnail" />
                                        </div> --}}
                                    </div>
                                    <!-- Thumbnail Large Image End -->

                                    <!-- Thumbnail Image End -->
                                    <div class="product-thumbnail mt-15 mb-20">
                                        <div id="thumb-menu-owl" class="thumb-menu owl-carousel">
                                            {{!-- <div class="active">
                                                <a data-toggle="tab" href="#thumb1"> <img src="img/new-products/1_1.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div>
                                            <div>
                                                <a data-toggle="tab" href="#thumb2"> <img src="img/new-products/1_2.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div>
                                            <div>
                                                <a data-toggle="tab" href="#thumb3"> <img src="img/new-products/2_1.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div>
                                            <div>
                                                <a data-toggle="tab" href="#thumb4"> <img src="img/new-products/2_2.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div>
                                            <div>
                                                <a data-toggle="tab" href="#thumb5"> <img src="img/new-products/3_1.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div>
                                            <div>
                                                <a data-toggle="tab" href="#thumb6"> <img src="img/new-products/3_2.jpg"
                                                        alt="product-thumbnail"></a>
                                            </div> --}}
                                        </div>
                                    </div>
                                    <!-- Thumbnail image end -->
                                </div>
                                <!-- Main Thumbnail Image End -->
                                <!-- Thumbnail Description Start -->
                                <div class="col-md-7 col-sm-6">
                                    <div class="thubnail-desc fix">
                                        <h2 id="modal-product-name" class="product-header">Sheepskin Pillow2</h2>
                                        <!-- Product Rating Start -->
                                        <div class="rating-summary fix mtb-25">
                                            <div class="rating f-left mr-10">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="rating-feedback f-left">
                                                <a id="modal-product-total-review" href="#">0 reviews</a> /
                                                <a href="#">Bình luận</a>
                                            </div>
                                        </div>
                                        <!-- Product Rating End -->
                                        <!-- Product Price Start -->
                                        <div class="pro-price mb-15">
                                            <ul class="pro-price-list">
                                                <li id="modal-product-price" class="product-price-vnd price">100.000 
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Product Price End -->
                                        <!-- Product Price Description Start -->
                                        <div class="product-price-desc mb-10">
                                            <ul class="pro-desc-list">
                                                <li>Mã sản phẩm: <span id="modal-product-code">SAMI</span></li>
                                                <li>Trạng thái: <span id="modal-product-status" >in Stock</span></li>
                                                <li id="quick-view-listColor" class="container-list-color">Màu Sắc:
                                                    <ul>
                                                        <li class="active">
                                                            <img src="">
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li id="quick-view-listSize" class="container-list-size"> Kích cỡ:
                                                    <ul>
                                                        <li >
                                                            <button class="btn">2.5m</button>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Product Price Description End -->
                                        <!-- Product Box Quantity Start -->
                                        <div class="box-quantity mb-30">
                                            <div class="quantity-item">
                                                <label>Số lượng: </label>
                                                <div class="cart-plus-minus">
                                                    <input id="count_quickview" class="cart-plus-minus-box" type="text" name="qtybutton"
                                                        value="0">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Box Quantity End -->
                                        <!-- Product Button Actions Start -->
                                        <div class="product-button-actions">
                                            <button data-type = "quick_view" data-product=""   id="quick-view-add-to-cart" title="thêm vào giỏ hàng" class="add-product-to-cart add-to-cart">thêm vào giỏ hàng</button>
                                            
                                            <button  data-id="" id="quick-view-add-to-wishlish" data-toggle="tooltip" title="Thêm vào danh sách ưa thích !"
                                                class="same-btn mr-15 add-wish-list"><i class="pe-7s-like"></i></button>

                                            <button data-toggle="tooltip" title="Compare this Product"
                                                class="same-btn"><i class="pe-7s-repeat"></i></button>
                                        </div>
                                        <!-- Product Button Actions End -->
                                    </div>
                                </div>
                                <!-- Thumbnail Description End -->
                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- Container End -->
                    </div>
                    <!-- Product Thumbnail End -->
                </div>
                <!-- Quick View Details End -->
            </div>
            <!-- Modal Body End -->
        </div>
        <!-- Modal Content End -->
    </div>
    <!-- Modal Dialog Box End -->
</div>