<!-- Newsletter Popup Start -->
<div class="popup_wrapper hidden-sm hidden-xs">
    <div class="test">
        <span class="popup_off">Đóng</span>
        <div class="subscribe_area text-center">
            <h2>Newsletter</h2>
            <p>Đăng ký danh sách gửi thư của MoMo để nhận những thông tin cập nhật về những sản phẩm mới, ưu đãi đặc
                biệt và thông tin giảm giá khác.</p>
            <div class="subscribe-form-group">
                <div class="modalSubscribe">
                    <input autocomplete="off" type="text" name="message" id="message"
                        placeholder="Nhập địa chỉ email của bạn...">
                    <button id="submitFromModal" type="submit">Đăng Ký</button>
                </div>
            </div>
            <div class="subscribe-bottom mt-15">
                <input type="checkbox" id="newsletter-permission">
                <label for="newsletter-permission">Không hiển thị nữa</label>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Popup End -->