   <!-- Newsletter Popup Start -->
    <div class="popup_wrapper hidden-sm hidden-xs">
        <div class="test">
            <span class="popup_off">Close</span>
            <div class="subscribe_area text-center">
                <h2>Newsletter</h2>
                <p>Subscribe to the Gatcomart mailing list to receive updates on new arrivals, special offers and
                    other discount information.</p>
                <div class="subscribe-form-group">
                    <div class="modalSubscribe">
                        <input autocomplete="off" type="text" name="message" id="message"
                            placeholder="Enter your email address">
                        <button id="submitFromModal" type="submit">subscribe</button>
                    </div>
                </div>
                <div class="subscribe-bottom mt-15">
                    <input type="checkbox" id="newsletter-permission">
                    <label for="newsletter-permission">Don't show this popup again</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Popup End -->